{% extends 'base/base_nonav.html' %}

{% block body_class %}auth-page{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}
<canvas id="matrix"></canvas>

<div class="card-main">
    <div class="card-content">

        <h2>Вход</h2>

        <form method="POST" action="/login">

            <div class="relative">
                <input type="text" name="username" placeholder="Логин">
            </div>
            <!-- Пароль с иконкой внутри поля -->
            <div class="relative">
                <input id="password" type="password" name="password" placeholder="Пароль">
                <span id="togglePassword"
                    class="absolute right-2 top-1/2 transform -translate-y-1/2 cursor-pointer text-white">
                    👁
                </span>
            </div>

            <div class="buttons-container flex gap-2 mt-3">
                <button type="submit" class="btn-in">Вход</button>
                <button type="button" class="btn-in" onclick="window.location.href='/register'">Регистрация</button>
            </div>
        </form>

    </div>
</div>
</div>


<!-- Скрипт показа/скрытия пароля -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.getElementById("togglePassword");
        const passwordInput = document.getElementById("password");

        togglePassword.addEventListener("click", function () {
            const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
            passwordInput.setAttribute("type", type);

            // Меняем иконку
            togglePassword.textContent = type === "password" ? "👁" : "🙈";
        });
    });
</script>


{% endblock %}