{% extends 'base/base_navbar.html' %}

{% block body_class %}auth-page{% endblock %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<div class="container">
    <div class="card-main">
        <div class="card-content">
            <h2>Профиль</h2>

            <!-- Строка с аватаркой и основными данными -->
            <div style="display: flex; justify-content: center;">
                <div class="user-info-row"
                    style="display: flex; align-items: center; gap: 15px; padding: 10px 20px; border: 2px solid rgba(0, 255, 170, 0.3); border-radius: 10px; box-shadow: 0 2px 5px rgb(0 0 0 / 0.1); width: 410px;">

                    {% if user.avatar %}
                    <img src="{{ url_for('static', filename='images/avatars/' ~ user.avatar) }}" alt="Аватар"
                        style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default.png') }}" alt="Без аватара"
                        style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
                    {% endif %}


                    <div>
                        <div style="font-weight: 600; font-size: 1.2em;">{{ user.username }}</div>
                        <div style="color: #555;">{{ user.email }}</div>
                    </div>
                </div>
            </div>

            <!-- Дополнительное окошко с информацией -->
            <div style="display: flex; justify-content: center;">
                <div class="user-info-row"
                    style="display: flex; flex-direction: column; gap: 10px; padding: 10px 20px; margin-bottom: 13px; border: 2px solid rgba(0, 255, 170, 0.3); border-radius: 10px; box-shadow: 0 2px 5px rgb(0 0 0 / 0.1); width: 410px;">

                    <!-- <p>Роль: {{ user.role or 'Пользователь' }}</p>
                    <p>Последний вход:: {{ user.last_login or 'Н/д' }}</p>
                    <p>Дата регистрации: {{ user.registration_date or 'Н/д' }}</p> -->

                    <div><strong>Роль:</strong> {{ user.role or 'Администратор' }}</div>
                    <!-- <div><strong>Последний вход:</strong> {{ user.last_login or 'Н/д' }}</div> -->
                    <div><strong>Дата регистрации:</strong> {{ user.registration_date or 'Н/д' }}</div>

                </div>
            </div>

            <!-- <h2></h2> -->

            <!-- Информация о пользователе, оформленная как элементы формы, но только для чтения -->
            <form class="flex flex-col gap-4" onsubmit="return false;">
                <div class="buttons-container flex gap-2">
                    <button class="btn-in" onclick="window.location.href='/edit'">Редактировать</button>
                    <button class="btn-in" onclick="window.location.href='/logout'">Выйти</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}