<div class="modal fade" id="modal-{{ card.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ card.modal_title or card.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">

                {% if card.modal_description %}
                <div class="modal-description mb-3 p-3">
                    {{ card.modal_description }}
                </div>
                {% endif %}

                <form method="POST" action="{{ card.form_action }}" class="modal-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    {% for field in card.fields %}
                    <div class="input mb-3">
                        <label for="{{ field.name }}" class="form-label">{{ field.description }}</label>
                        <input type="{{ field.type }}" class="form-control" name="{{ field.name }}"
                            id="{{ field.name }}" placeholder="{{ field.label }}" {% if field.required %}required{%
                            endif %}>
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn {{ card.btn_class | default('') }}">{{ card.submit_text
                        }}</button>
                </form>

            </div>
        </div>
    </div>
</div>