<div class="modal fade" id="tokenSelectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выберите вид токена</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-md-{{ columns }} g-4">
                    {% for card in grid_cards %}
                    {% include 'components/cards/action_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>