// Цвета
$color-bg-body: #000000;
$color-bg-background: #1e1e1e;
$color-bg-tokens-background: #0d0d0d;
$color-accent: #00ff88;
$color-accent-dark: #00ffaa;
$color-text-default: #00ff88;
$color-text-muted: #b2ffdd;
$color-scrollbar-thumb: #00ff88;
$color-scrollbar-track: #000000;

// Размеры / отступы
$gap-card: 20px;
$border-radius: 12px;
$btn-radius: 10px;
$scrollbar-width: 10px;
