@charset "UTF-8";
.card-1grid-layout {
  display: grid;
  grid-template-columns: 1fr; /* Столбик, одна карточка */
  gap: 20px;
  align-items: start;
  justify-items: stretch;
  width: 100%;
  margin: 0 auto;
}

.one-1column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .card-1grid-layout {
    margin-top: 20px;
  }
}
.card-2grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.one-2column,
.two-2column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-3grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 20px;
  align-items: start;
  justify-items: stretch;
  width: 100%;
  margin: 0 auto;
}

.one-3column,
.two-3column,
.three-3column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-4grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.one-4column,
.two-4column,
.three-4column,
.four-4column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .card-4grid-layout {
    margin-top: 20px;
  }
}
.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по ширине */
  box-sizing: border-box;
  overflow-x: auto;
  width: 100%; /* Максимальная ширина для контейнера */
  margin: 0 auto; /* Выравнивание по центру */
  align-self: center;
  height: auto; /* Автоматическая высота в зависимости от содержимого */
}

.table {
  width: 100%; /* Устанавливаем таблице 100% ширины, чтобы она соответствовала описанию */
  background-color: #f9f9f9;
  border-radius: 10px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9); */
  border-collapse: collapse;
  overflow: hidden;
  box-sizing: border-box;
  align-self: center;
  border: 3px solid #000000; /* Добавлены границы */
  table-layout: fixed; /* Устанавливаем фиксированное расположение для ячеек */
}

.table th,
.table td {
  border-bottom: 1px solid #ccc;
  border: 1px solid #ccc; /* Добавлены границы */
  word-wrap: break-word;
  text-align: left;
  font-size: 10px;
  white-space: nowrap; /* предотвращает перенос */
}

.table thead {
  background-color: #00ff88;
  font-weight: bold;
}

/* .table th {
    border-bottom: 2px solid #000000;
} */
.table tr:hover {
  background-color: #686868; /* Подсветка строки при наведении */
  cursor: pointer; /* Курсор в виде указателя */
}

@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 8px; /* Уменьшаем отступы для маленьких экранов */
    font-size: 0.5rem; /* Уменьшаем размер шрифта */
  }
  .table {
    font-size: 0.8rem; /* Уменьшаем общий размер шрифта для маленьких экранов */
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Отступ между элементами */
  padding: 10px 15px;
  position: relative;
}

.card {
  background-color: #2b2b2b; /* тёмный фон карточки, создаёт контраст с ярким текстом */
  border-radius: 12px; /* скруглённые углы для более мягкого и современного вида */
  padding: 15px; /* внутренние отступы — создают пространство между содержимым и краями */
  color: #00ff88; /* ярко-зелёный цвет текста — хорошо виден на тёмном фоне */
  /* box-shadow: 0 4px 10px rgba(0, 255, 136, 0.2); */ /* лёгкая тень с зелёным оттенком для глубины */
  height: auto; /* Автоматическая высота в зависимости от содержимого */
  max-height: none; /* Уберите ограничение по максимальной высоте */
  box-sizing: border-box;
  transition: transform 0.2s ease; /* плавный переход при изменении положения (эффект наведения) */
  position: relative;
  z-index: 10;
  overflow: hidden;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  flex-direction: column; /* Это обеспечит вертикальное размещение элементов */
}

.card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #005f44, #008066, #3a8070);
  z-index: -1;
  filter: blur(10px);
  opacity: 0.2;
}

.card-content hr {
  width: 100%;
  margin-top: 10px; /* Отступ сверху, чтобы линия не была прямо у текста */
  margin-bottom: 10px; /* Отступ снизу, чтобы линия не сливалась с остальными элементами */
  border: 0;
  border-top: 2px solid #00ff88; /* Цвет линии, соответствующий стилю */
  opacity: 0.6; /* Немного прозрачности для лёгкости */
  text-transform: uppercase;
  word-wrap: break-word; /* Чтобы текст не выходил за пределы */
}

/* .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 30px rgba(0, 255, 136, 0.4);
} */
/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 136, 0.3);
} */
/* .card:hover {
    box-shadow: 0 8px 20px rgba(0, 255, 136, 0.3);
} */
.card:hover {
  box-shadow: 0 0 1px 2px rgba(0, 255, 136, 0.3); /* тень по всему периметру */
}

.card h2 {
  text-shadow: none;
  transition: text-shadow 0.3s ease;
  margin: 0; /* Убираем все отступы */
  color: #00ffaa;
  border-bottom: 2px solid #ccc; /* Добавляем разделительную линию */
  font-size: 13px; /* изменяет размер текста заголовка */
  padding: 5px;
  padding-top: 0px;
  text-transform: uppercase; /* Преобразуем текст в заглавные буквы */
}

.card:hover h2 {
  text-shadow: 0 0 5px #195419, 0 0 10px #1edd74;
}

.card p {
  color: #b2ffdd;
  font-size: 10px;
}

.collumn {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Отступ между карточками */
  background-color: #1e1e1e; /* тёмный фон карточки, создаёт контраст с ярким текстом */
  border-radius: 12px; /* скруглённые углы для более мягкого и современного вида */
  padding: 20px; /* внутренние отступы — создают пространство между содержимым и краями */
  color: #00ff88; /* ярко-зелёный цвет текста — хорошо виден на тёмном фоне */
  box-shadow: 0 4px 10px rgba(0, 255, 136, 0.2); /* лёгкая тень с зелёным оттенком для глубины */
  height: auto;
  box-sizing: border-box;
  margin-bottom: 20px; /* отступ снизу между элементами */
  transition: transform 0.2s ease; /* плавный переход при изменении положения (эффект наведения) */
}

/* @keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .collumn {
    gap: 10px; /* Меньший отступ между элементами */
    margin-bottom: 0px;
  }
}
.description-card {
  display: flex;
  flex-direction: column; /* Добавим для правильного размещения элементов внутри */
  background-color: #424242;
  /* background: linear-gradient(145deg, #3a3a3a, #303030); */
  border-radius: 12px;
  padding: 20px;
  color: #00ff88;
  height: auto; /* Высота под содержимое */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  align-items: center; /* Центрирование содержимого, включая кнопки */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  gap: 2px;
  box-sizing: border-box;
  overflow-x: auto; /* Позволит прокручивать, если что-то выходит */
}

/* .description-card:hover {
    box-shadow: 0 6px 20px rgba(0, 255, 136, 0.3);
    transform: translateY(-4px);
} */
.description-card p {
  width: 100%; /* Параграф также на всю ширину */
  margin: 0; /* Убираем лишние отступы */
}

.copy-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50; /* Зеленый цвет */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: none; /* Изначально скрыто */
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Размещение кнопок в столбик */
  align-items: center; /* Выравнивание кнопок по центру */
}

.btn {
  position: relative; /* Относительное позиционирование для дочерних элементов */
  overflow: hidden; /* Прячем содержимое, выходящее за пределы кнопки */
  text-transform: uppercase; /* Преобразуем текст в заглавные */
  transition: transform 0.25s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  font-size: 10px; /* Размер шрифта */
  font-weight: 600; /* Жирный шрифт */
  color: #000000; /* Черный текст */
  width: 100%; /* Кнопка занимает всю ширину контейнера */
  background-color: #00ffaa; /* Зеленый фон */
  border: 2px solid #00ffaa; /* Зеленая рамка */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  border-radius: 10px; /* Скругленные углы */
  padding: 5px 20px; /* Отступы внутри кнопки */
  margin: 0 10px; /* Отступы слева и справа */
  margin-bottom: 10px; /* Отступ между кнопками */
}

.btn:hover {
  transform: translateY(-5px); /* Двигаем кнопку вверх при наведении */
  background-color: #1f8f00; /* Темный зеленый фон при наведении */
  color: #00ff00; /* Зеленый текст */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Усиление тени */
}

.icon {
  font-size: 1em;
  position: relative;
  top: -2.3px;
  vertical-align: middle;
  margin-right: -3px;
}

.btn::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0.6;
  background: #00ff88;
  pointer-events: none;
  animation: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.navbar {
  background-color: #000 !important; /* Черный фон */
  border-bottom: 2px solid #198754; /* Зеленая нижняя граница */
  height: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.navbar .navbar-brand {
  color: #00ff88 !important;
  font-weight: bold; /* Жирный шрифт */
  font-family: "Press Start 2P", cursive; /* Пиксельный шрифт */
  display: flex; /* Используем flex для выравнивания */
  align-items: center; /* Центрируем по вертикали */
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.navbar .navbar-brand i {
  margin-right: 10px; /* Отступ справа от иконки */
}
.navbar .nav-link {
  color: #00ff88 !important;
  font-weight: 500;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  transition: all 0.3s ease;
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  color: #66ffcc !important;
  text-decoration: none;
  text-shadow: 0 0 5px #00ff88, 0 0 10px #00ff88;
}
.navbar .navbar-toggler {
  border-color: #198754; /* Зеленая рамка */
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25,135,84,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E"); /* Зеленые полоски */
}

@media (max-width: 768px) {
  .navbar {
    height: 70px; /* Измените на нужную высоту для мобильных устройств */
    padding-top: 0.5rem; /* Уменьшите отступ сверху, если нужно */
    padding-bottom: 0.5rem; /* Уменьшите отступ снизу, если нужно */
  }
}
/* Стиль терминала */
.console {
  background-color: #000000; /* тёмный фон карточки, создаёт контраст с ярким текстом */
  border-radius: 12px; /* скруглённые углы для более мягкого и современного вида */
  padding: 20px; /* внутренние отступы — создают пространство между содержимым и краями */
  color: #00ff88; /* ярко-зелёный цвет текста — хорошо виден на тёмном фоне */
  font-family: "Press Start 2P", Courier, monospace; /* Пиксельный шрифт для текста */
  border-radius: 8px;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  align-items: flex-start; /* ← выравнивание по левому краю */
}

/* Стиль для текста */
#terminal-output {
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  text-shadow: 0 0 5px #195419, 0 0 10px #00ff00;
}

/* Анимация появления текста */
.text {
  display: inline-block;
}

/* Курсор с анимацией */
/* .cursor {
    display: inline-block;
    width: 10px;
    height: 22px;
    background-color: #00ff88;
    animation: blink 0.7s step-start infinite;
    position: absolute;
    bottom: 0;
    top: 4px;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    50.1%,
    100% {
        opacity: 0;
    }
} */
/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .console {
    padding: 15px; /* Уменьшаем отступы для мобильных экранов */
    font-size: 16px; /* Уменьшаем размер шрифта для мобильных устройств */
  }
  #terminal-output {
    font-size: 9px; /* Меньший размер шрифта для текста */
  }
  .cursor {
    width: 8px; /* Уменьшаем размер курсора */
    height: 18px; /* Уменьшаем высоту курсора */
  }
}
.content {
  flex: 100%;
  max-width: 100%;
  padding-top: 69px; /* отступ сверху, чтобы отступить от navbar */
  box-sizing: border-box; /* чтобы padding не увеличивал ширину блока */
  padding-left: 10px; /* Добавляет отступ слева */
  padding-right: 10px; /* Добавляет отступ справа */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000000;
  color: #00ff00;
  font-family: "Press Start 2P", Courier, monospace;
  position: relative;
  overflow-y: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

/* Кастомизация скроллбаров для всех элементов */
::-webkit-scrollbar {
  width: 10px; /* Ширина вертикального скроллбара */
  height: 10px; /* Высота горизонтального скроллбара */
}

/* Кастомизация "ползунка" скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #00ff88; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов ползунка */
  border: 2px solid #000000; /* Граница вокруг ползунка */
}

/* Кастомизация области, по которой ползунок двигается */
::-webkit-scrollbar-track {
  background-color: #000000; /* Цвет области, по которой движется ползунок */
  border-radius: 10px; /* Скругление углов области */
}

/* Кастомизация горизонтального скроллбара */
::-webkit-scrollbar-horizontal {
  height: 8px;
}

/* Кастомизация вертикального скроллбара */
::-webkit-scrollbar-vertical {
  width: 8px;
}

/*# sourceMappingURL=style.css.map */
