@charset "UTF-8";
.btn {
  position: relative; /* Относительное позиционирование для дочерних элементов */
  overflow: hidden; /* Прячем содержимое, выходящее за пределы кнопки */
  text-transform: uppercase; /* Преобразуем текст в заглавные */
  transition: all 0.3s ease; /* Плавные переходы для всех свойств */
  font-size: 14px; /* Размер шрифта */
  font-weight: 600; /* Жирный шрифт */
  color: #000000; /* Черный текст */
  width: 100%; /* Кнопка занимает всю ширину контейнера */
  background-color: #00ffaa; /* Зеленый фон */
  border: 2px solid #00ffaa; /* Зеленая рамка */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  border-radius: 10px; /* Скругленные углы */
  padding: 10px 20px; /* Отступы внутри кнопки */
  margin: 0 10px; /* Отступы слева и справа */
  margin-bottom: 10px; /* Отступ между кнопками */
}

.btn:hover {
  transform: translateY(-5px); /* Двигаем кнопку вверх при наведении */
  background-color: #1f8f00; /* Темный зеленый фон при наведении */
  color: #00ff00; /* Зеленый текст */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Усиление тени */
}

.icon {
  font-size: 1em;
  position: relative;
  top: -2.3px;
  vertical-align: middle;
  margin-right: -3px;
}

/* Подключение файла с кнопками */
.card {
  background-color: #2b2b2b; /* тёмный фон карточки, создаёт контраст с ярким текстом */
  border-radius: 12px; /* скруглённые углы для более мягкого и современного вида */
  padding: 20px; /* внутренние отступы — создают пространство между содержимым и краями */
  color: #00ff88; /* ярко-зелёный цвет текста — хорошо виден на тёмном фоне */
  box-shadow: 0 4px 10px rgba(0, 255, 136, 0.2); /* лёгкая тень с зелёным оттенком для глубины */
  height: auto;
  flex: 1 1 calc(33.333% - 10px); /* 3 карточки в ряд, с учётом gap */
  max-width: calc(33.333% - 10px);
  box-sizing: border-box;
  transition: transform 0.2s ease; /* плавный переход при изменении положения (эффект наведения) */
}

/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 136, 0.3); 
}
 */
.card h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #00ffaa;
  border-bottom: 2px solid #ccc; /* Добавляем разделительную линию */
  font-size: 20px; /* изменяет размер текста заголовка */
  padding: 5px;
  padding-top: 0px;
  text-transform: uppercase; /* Преобразуем текст в заглавные буквы */
  text-shadow: 0 0 5px #195419, 0 0 10px #00ff00;
}

.card p {
  color: #b2ffdd;
  font-size: 13px;
}

.column-wrapper {
  background-color: #2b2b2b;
  border-radius: 12px;
  padding: 20px;
  color: #00ff88;
  box-shadow: 0 4px 10px rgba(0, 255, 136, 0.2);
  flex: 1 1 calc(100.333% - 10px); /* как у одной карточки */
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* элементы внутри — в колонку */
  gap: 10px; /* расстояние между вложенными карточками */
}

/* Подключение файла с карточками */
.card-mini {
  display: flex;
  flex-direction: column; /* Добавим для правильного размещения элементов внутри */
  background-color: #424242;
  border-radius: 12px;
  padding: 20px;
  color: #00ff88;
  height: auto; /* Высота под содержимое */
  width: auto; /* Ширина под содержимое */
  align-items: center; /* Центрирование содержимого, включая кнопки */
  margin-bottom: 15px; /* Добавит отступ после контейнера */
}

.card-mini p {
  width: 100%; /* Параграф также на всю ширину */
  margin: 0; /* Убираем лишние отступы */
}

/* Подключение файла для прогресс-бара */
.card-solo {
  background-color: #2b2b2b; /* тёмный фон карточки, создаёт контраст с ярким текстом */
  border-radius: 12px; /* скруглённые углы для более мягкого и современного вида */
  padding: 20px; /* внутренние отступы — создают пространство между содержимым и краями */
  color: #00ff88; /* ярко-зелёный цвет текста — хорошо виден на тёмном фоне */
  box-shadow: 0 4px 10px rgba(0, 255, 136, 0.2); /* лёгкая тень с зелёным оттенком для глубины */
  height: 522px;
  flex: 1 1 calc(100% - 10px); /* 3 карточки в ряд, с учётом gap */
  box-sizing: border-box;
  transition: transform 0.2s ease; /* плавный переход при изменении положения (эффект наведения) */
}

/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 136, 0.3); 
}
 */
.card-solo h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #00ffaa;
  border-bottom: 2px solid #ccc; /* Добавляем разделительную линию */
  font-size: 20px; /* изменяет размер текста заголовка */
  padding: 5px;
  padding-top: 0px;
  text-transform: uppercase; /* Преобразуем текст в заглавные буквы */
  text-shadow: 0 0 5px #195419, 0 0 10px #00ff00;
}

.card-solo p {
  color: #b2ffdd;
  font-size: 13px;
}

/* Подключение файла для прогресс-бара */
.card-memmory {
  background-color: #2b2b2b; /* тёмный фон карточки, создаёт контраст с ярким текстом */
  border-radius: 12px; /* скруглённые углы для более мягкого и современного вида */
  padding: 20px; /* внутренние отступы — создают пространство между содержимым и краями */
  color: #00ff88; /* ярко-зелёный цвет текста — хорошо виден на тёмном фоне */
  box-shadow: 0 4px 10px rgba(0, 255, 136, 0.2); /* лёгкая тень с зелёным оттенком для глубины */
  height: 100%;
  flex: 1 1 calc(33.333% - 10px); /* 3 карточки в ряд, с учётом gap */
  max-width: 1000px;
  box-sizing: border-box;
  transition: transform 0.2s ease; /* плавный переход при изменении положения (эффект наведения) */
}

/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 136, 0.3); 
}
 */
.card-memmory h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #00ffaa;
  border-bottom: 2px solid #ccc; /* Добавляем разделительную линию */
  font-size: 20px; /* изменяет размер текста заголовка */
  padding: 5px;
  padding-top: 0px;
  text-transform: uppercase; /* Преобразуем текст в заглавные буквы */
  text-shadow: 0 0 5px #195419, 0 0 10px #00ff00;
}

.card-memmory p {
  color: #b2ffdd;
  font-size: 13px;
}

/* Подключение файла для прогресс-бара */
.navbar {
  background-color: #000 !important; /* Черный фон */
  border-bottom: 2px solid #198754; /* Зеленая нижняя граница */
  height: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.navbar .navbar-brand {
  color: #198754 !important; /* Зеленый цвет текста */
  font-weight: bold; /* Жирный шрифт */
  font-family: "Press Start 2P", cursive; /* Пиксельный шрифт */
  display: flex; /* Используем flex для выравнивания */
  align-items: center; /* Центрируем по вертикали */
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.navbar .navbar-brand i {
  margin-right: 10px; /* Отступ справа от иконки */
}
.navbar .nav-link {
  color: #198754 !important; /* Зеленый текст */
  font-weight: 500; /* Средняя жирность */
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  color: #28a745 !important; /* Более светлый зеленый при наведении */
  text-decoration: underline; /* Подчеркивание при наведении */
}
.navbar .navbar-toggler {
  border-color: #198754; /* Зеленая рамка */
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25,135,84,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E"); /* Зеленые полоски */
}

@media (max-width: 768px) {
  .navbar {
    height: 70px; /* Измените на нужную высоту для мобильных устройств */
    padding-top: 0.5rem; /* Уменьшите отступ сверху, если нужно */
    padding-bottom: 0.5rem; /* Уменьшите отступ снизу, если нужно */
  }
}
/* Подключение файла для прогресс-бара */
.card-container {
  display: flex; /* Используем flexbox для выравнивания элементов */
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Позволяет карточкам переходить на следующую строку */
  max-width: 100%; /* Ограничиваем максимальную ширину контейнера до 50% */
  width: 100vw;
  margin-top: 30px;
  padding: 40px 20px;
  gap: 10px; /* уменьшено с 20px до 10px */
}

.buttons-container {
  width: 100%;
  display: flex;
  padding: 1px;
  flex-direction: column; /* Размещение кнопок в столбик */
  align-items: center; /* Выравнивание кнопок по центру */
}

body {
  margin: 0; /* Убираем отступы от краев страницы */
  background-color: #000000; /* Черный фон */
  color: #00ff00; /* Зеленый цвет текста */
  font-family: "Press Start 2P", Courier, monospace; /* Пиксельный шрифт для текста */
}

@media (max-width: 768px) {
  .card,
  .card-memmory,
  .card-mini,
  .card-solo {
    flex: 1 1 100%; /* Каждая карточка будет занимать 100% ширины контейнера */
    max-width: 100%; /* Карточки будут растягиваться на всю ширину */
  }
}
@media (max-width: 768px) {
  .card-container {
    margin-top: 50px; /* Добавляем отступ перед карточками */
  }
}

/*# sourceMappingURL=style.css.map */
