.card-auth form button {
    width: 100%;
    padding: 14px;

    background-color: #00ffaa;
    color: #111;

    font-weight: 700;
    font-size: 1.1rem;

    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition:
        background-color 0.3s,
        box-shadow 0.3s;

    box-shadow: 0 4px 15px rgba(0, 255, 136, 0.4);
}

.card-auth form button:hover {
    background-color: #00cc77;
    box-shadow: 0 6px 20px rgba(0, 204, 119, 0.7);
}

.btn-auth {
    font-size: 16px;
    padding: 14px 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #00ff99, #00cc66, #00ff99);
    background-size: 300% 300%;
    border: none;
    border-radius: 14px;
    animation: gradientFlow 6s ease infinite;
    box-shadow: 0 0 12px rgba(0, 255, 153, 0.4);
    transition: transform 0.3s;
    cursor: pointer;
}

.btn-auth:hover {
    transform: scale(1.05);
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
