{% extends 'base/card-grid.html' %}

{% block title %}Главная{% endblock %}

{% macro one_column() %}
<div class="card card-main">
    <div class="card-content">
        <h2>Системные данные</h2>
        <div class="buttons-container">
            <a href="/system" class="btn btn-in"><i class="fas fa-server icon"></i> Система</a>
            <a href="/network" class="btn btn-in"><i class="fas fa-network-wired icon"></i> Сеть</a>
            <a href="/bot" class="btn btn-in"><i class="fas fa-robot icon"></i> Управление ботом</a>
        </div>
    </div>
</div>
{% endmacro %}

{% macro two_column() %}
<div class="card card-main">
    <div class="card-content">
        <h2>Инструменты</h2>
        <div class="buttons-container">
            <a href="/notes" class="btn btn-in"><i class="fas fa-sticky-note icon"></i> Заметки</a>
            <a href="/reminders" class="btn btn-in"><i class="fas fa-clock icon"></i> Напоминания</a>
            <a href="/cron" class="btn btn-in"><i class="fas fa-calendar-alt icon"></i> Cron задачи</a>
        </div>
    </div>
</div>
{% endmacro %}

{% set columns_content = one_column() + two_column() %}