{% extends 'base/base.html' %}
{% import 'macros/renders/dashboard_render.html' as cards %}

{% block content %}
<section class="dashboard-section">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="page-title">Добро пожаловать,{{user.username}}!</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-{{ columns }} g-4">
            {% for card in grid_cards %}
            {{ cards.render_card(card) }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}