{% extends 'base/base_navbar.html' %}

{% block title %}Мой Бот{% endblock %}

{% block content %}
<div class="card-4grid-layout">
  <div class="one-4column">
    <!-- Web bug -->
    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-bug icon"></i> Web bug</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>
    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-qrcode icon"></i> QR code</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="two-4column">
    <!-- БотКарточка Заметки -->
    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-globe icon"></i> DNS</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>
    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-image icon"></i> Web image</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="three-4column">

    <!-- БотКарточка Заметки -->
    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-file-word icon"></i> Microsoft Word</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>
    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-file-excel icon"></i> Microsoft Excel</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="four-4column">
    <!-- БотКарточка Заметки -->

    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-envelope icon"></i> Email address</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>

    <div class="tokens-card">
      <div class="card-content">
        <h2><i class="fas fa-folder icon"></i> Windows file</h2>
        <div class="description-card">
          <p>Запрос памяти с сервера.</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#diskModal"
            onclick="fetchDiskUsage()">
            <i class="fas fa-file-alt icon"></i> Запросить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}