{% extends 'base/base.html' %}

{% block content %}
<section class="dashboard-section">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
            <h2 class="page-title">Honeytokens</h2>
            <button id="theme-toggle" class="theme-toggle-btn" aria-label="Переключить тему"></button>
        </div>
        <div class="row row-cols-1 row-cols-md-{{ columns }} g-4">
            {% for card in grid_cards %}
            {% include 'components/cards/dashboard/action_card.html' %}
            {% include 'components/modals/token_result_modal.html' %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
{% for card in grid_cards %}
{% include 'components/modals/action_modal.html' %}
{% endfor %}
{% endblock %}