.description-card {
    display: flex;
    flex-direction: column; /* Добавим для правильного размещения элементов внутри */
    background-color: #424242;
    /* background: linear-gradient(145deg, #3a3a3a, #303030); */
    border-radius: 12px;
    padding: 20px;
    color: #00ff88;
    height: auto; /* Высота под содержимое */
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    align-items: center; /* Центрирование содержимого, включая кнопки */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    gap: 2px;
    box-sizing: border-box;
    overflow-x: auto; /* Позволит прокручивать, если что-то выходит */
}

/* .description-card:hover {
    box-shadow: 0 6px 20px rgba(0, 255, 136, 0.3);
    transform: translateY(-4px);
} */

.description-card p {
    width: 100%; /* Параграф также на всю ширину */
    margin: 0; /* Убираем лишние отступы */
}
