.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по ширине */
    box-sizing: border-box;
    overflow-x: auto;
    width: 100%; /* Максимальная ширина для контейнера */
    margin: 0 auto; /* Выравнивание по центру */
    align-self: center;
    height: auto; /* Автоматическая высота в зависимости от содержимого */
}

.table {
    width: 100%; /* Устанавливаем таблице 100% ширины, чтобы она соответствовала описанию */
    background-color: #f9f9f9;
    border-radius: 10px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9); */
    border-collapse: collapse;
    overflow: hidden;
    box-sizing: border-box;
    align-self: center;
    border: 3px solid #000000; /* Добавлены границы */
    table-layout: fixed; /* Устанавливаем фиксированное расположение для ячеек */
}

.table th,
.table td {
    border-bottom: 1px solid #ccc;
    border: 1px solid #ccc; /* Добавлены границы */
    word-wrap: break-word;
    text-align: left;
    font-size: 10px;
    white-space: nowrap; /* предотвращает перенос */
}

.table thead {
    background-color: #00ff88;
    font-weight: bold;
}

/* .table th {
    border-bottom: 2px solid #000000;
} */

.table tr:hover {
    background-color: #686868; /* Подсветка строки при наведении */
    cursor: pointer; /* Курсор в виде указателя */
}

@media (max-width: 768px) {
    .table th,
    .table td {
        padding: 8px; /* Уменьшаем отступы для маленьких экранов */
        font-size: 0.5rem; /* Уменьшаем размер шрифта */
    }

    .table {
        font-size: 0.8rem; /* Уменьшаем общий размер шрифта для маленьких экранов */
    }
}
