<div class="{{ card.wrapper_class }}">

    <div class="card {{ card.card_class | default('') }}">
        <div class="card-body">

            <h5 class="card-title {{ card.title_class | default('') }}">
                <i class="fas fa-{{ card.icon | default('question-circle') }} me-2"></i>{{ card.title }}
            </h5>

            <p class="card-text">{{ card.content | safe }}</p>
            <ul class="list-group">
                <li class="list-group-item custom-list-item"><strong>Имя:</strong> Скоро...</li>
                <li class="list-group-item custom-list-item"><strong>Email:</strong> Скоро...</li>
                <li class="list-group-item custom-list-item"><strong>Телефон:</strong> Скоро...</li>
            </ul>
        </div>
    </div>

</div>