@charset "UTF-8";
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes glossMove {
  0% {
    top: -100%;
    left: -45%;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: var(--bg-color); */
  font-family: "Oswald", sans-serif;
  position: relative;
  overflow-y: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.navbar .nav-link {
  /* color: var(--accent-color) !important; */
  color: rgba(75, 75, 75, 0.4392156863) !important;
  font-weight: 500;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  transition: all 0.3s ease;
}
.navbar .nav-link .link-text {
  display: none;
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  border-radius: 5px;
  color: #66ffcc !important;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  text-shadow: 0 0 5px #ffffff;
}

.navbar .navbar-brand {
  color: rgba(75, 75, 75, 0.4392156863) !important; /* или любой другой нужный цвет */
  font-weight: bold; /* при необходимости */
}

.navbar .navbar-brand:hover {
  color: #ffffff !important; /* например, белый при наведении */
  text-shadow: 0 0 5px #66ffcc; /* при желании */
}

.base-secondary-text {
  color: var(--base-secondary-text);
}

.base-primary-text {
  color: var(--base-primary-text);
}

/* $color-bg-body: #000000;
$color-bg-background: #1e1e1e;
$color-bg-tokens-background: #0d0d0d;
$color-accent: #00ff88;
$color-accent-dark: #00ffaa;
$color-text-default: #00ff88;
$color-text-muted: #b2ffdd;
$color-scrollbar-thumb: #00ff88;
$color-scrollbar-track: #000000;
 */
/* $gap-card: 20px;
$border-radius: 12px;
$btn-radius: 10px;
$scrollbar-width: 10px; */
/* Кнопки */
.btn-card {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}

.btn-card:disabled {
  pointer-events: none;
}

.btn-card:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-card:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Карточки */
/* Общий стиль карточек */
.token-card {
  max-height: 250px;
}

/* Иконка */
.token-card .bi {
  font-size: 4rem;
  color: var(--card-primary-text);
}

/* Заголовок */
.token-card .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

/* Контент */
.token-card .card-text {
  font-size: 0.95rem;
  text-align: center;
}

.text-muted {
  color: var(--card-secondary-text) !important;
}

/* Подпись к кнопке */
.btn-dashboard-label {
  font-size: 0.85rem;
  color: var(--card-button-label);
  text-align: center;
  margin-top: 0.25rem;
}

/* Уменьшение карточки */
.small-card .bi {
  font-size: 3.2rem;
}

.small-card .card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.small-card .card-text {
  font-size: 1rem;
}

.small-card button {
  padding: 8px 12px;
  font-size: 0.85rem;
}

/* Вертикальный и горизонтальный скроллбар */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ff88;
  /* background-color: $color-green; */
  border-radius: 10px;
  /* border: 2px solid $color-black; */
}

::-webkit-scrollbar-track {
  /* background-color: $color-black; */
  border-radius: 10px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-vertical {
  width: 8px;
}

/* Стили для таблицы с информацией о токене */
.token-info-table {
  background-color: white !important; /* фон таблицы */
  border-collapse: separate !important; /* чтобы можно было задать border-radius */
  border-spacing: 0; /* убираем пробелы между ячейками */
  border-radius: 8px; /* радиус скругления углов таблицы */
  overflow: hidden; /* обрезать края, чтобы скругление применялось */
  /*  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.token-info-table th {
  color: var(--text-color);
  font-weight: normal !important;
}

.token-info-table td {
  color: var(--modal-text);
}

.token-info-table th,
.token-info-table td {
  background-color: white !important; /* фон ячеек */
  border: 1px solid #dee2e6; /* как в bootstrap table-bordered */
  padding: 0.3rem 0.5rem; /* можно подкорректировать */
  word-break: break-word; /* перенос длинных слов */
  white-space: normal; /* разрешить перенос строк */
  max-width: 200px; /* ограничение ширины ячеек */
}

/* Скругление углов ячеек: 
   - Верхние левый и правый углы таблицы
   - Нижние левый и правый углы таблицы
*/
.token-info-table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

.token-info-table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.token-info-table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.token-info-table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.gradient-header {
  background: linear-gradient(to bottom, #495057, #343a40, #212529);
}

.gradient-header > nav,
.gradient-header > header {
  background: transparent !important;
}

/* ------------------------ МОДАЛЬНОЕ ОКНО ------------------------ */
/* Затемнение заднего фона */
.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Основной блок модального окна */
.modal-content {
  border-radius: 1rem;
  border: none;
  background-color: var(--modal-primary-background);
  color: var(--modal-text);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  animation: fadeInUp 0.4s ease forwards;
}

/* Заголовок */
.modal-header {
  background-color: var(--modal-background);
  padding: 1rem 1.25rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--modal-title);
  text-transform: uppercase;
}

/* Основной текст */
.modal-body {
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--modal-text);
}

/* Поля ввода внутри модалки */
.modal-content input.form-control,
.modal-content input.form-control:focus {
  background-color: #ffffff;
  color: var(--modal-text);
  border: 1px solid var(--modal-input-border);
}

/* Блок описания внутри модалки */
.modal-description {
  background-color: var(--modal-secondary-background);
  border-radius: 0.5rem;
  font-size: 0.95rem;
}

/* Кнопки внутри модалки */
.modal-content .btn {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--modal-input-border);
  color: var(--modal-text);
}

.modal-content .btn:hover {
  background-color: var(--modal-btn-background);
  color: var(--modal-accent-color);
}

.modal-content button[type=submit]:hover {
  cursor: pointer;
}

/* Кнопка закрытия */
.btn-close {
  background-color: transparent;
  border: none;
  color: var(--modal-btn-background);
  filter: none; /* убрать инверсию */
}

:root {
  --bg-color: #e9e8e8;
  --page-name: #ffffff;
  --title-color: #363636c4;
  --gradient-bg: linear-gradient(to right, #8fab9e5d 0%, #8fab9e5d 50%, transparent 100%);
  /* Navbar */
  --accent-color: #76767670;
  --nav-color: #ffffff;
  --logo-color: #76767670;
  /* Кнопки */
  --btn-border: #76767670;
  --btn-label: #76767699;
  /* Модальные окна */
  --modal-title: #363636c4;
  --modal-text: #686868c4;
  --modal-input-label: #c7c7c7e2;
  --modal-input-border: #76767670;
  --modal-btn-background: #76767670;
  --modal-primary-background: #f8f8f8;
  --modal-secondary-background: #c7c7c767;
  --modal-accent-color: #00000070;
  /* Авторизация */
  --auth-title: #363636c4;
  --auth-primary-text: #686868c4;
  --auth-secondary-text: #9a9a9a67;
  --auth-input-label: #9a9a9ae2;
  --auth-primary-background: #f8f8f8;
  --auth-secondary-background: #c7c7c767;
  /* ============ */
  --base-primary-text: #32383d;
  --base-secondary-text: #b2b2b2;
  --base-background: ;
  --header-title: #f8f8f8;
  --header-text: ;
  --card-label: ;
  --card-background: #f8f8f8;
  --card-icon: #212529;
  --card-primary-text: #212529;
  --card-secondary-text: #b2b2b2;
  --card-button-label: #6c757d;
  --modal-label: ;
  --modal-background: #f8f8f8;
  --modal-primary-text: #7676768f;
  --modal-secondary--text: #7676768f;
  --nav-background: ;
  --nav-items: ;
}

/*# sourceMappingURL=style.css.map */
