@charset "UTF-8";
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes glossMove {
  0% {
    top: -100%;
    left: -45%;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  font-family: "JetBrains Mono", monospace;
  position: relative;
  overflow-y: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.auth-container {
  max-width: 500px;
  max-height: 5000px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-form {
  width: 100%;
  max-width: 400px;
}

.content {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.navbar {
  background-color: #000 !important; /* Черный фон */
  border-bottom: 2px solid #198754; /* Зеленая нижняя граница */
  height: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.navbar .navbar-logo {
  /* width: 32px;  */
  width: 70px;
  height: 32px;
  /* background-color: #28a745;  */
  border-radius: 0%;
  color: white;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  margin-right: 10px;
}
.navbar .nav-link {
  color: #00ff88 !important;
  font-weight: 500;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  transition: all 0.3s ease;
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  color: #66ffcc !important;
  text-decoration: none;
  text-shadow: 0 0 5px #00ff88, 0 0 10px #00ff88;
}
.navbar .navbar-toggler {
  border-color: #198754; /* Зеленая рамка */
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25,135,84,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E"); /* Зеленые полоски */
}

.card-text {
  margin-top: 10px;
  color: #ffffff;
}

.page-title {
  font-size: 2rem; /* Немного крупнее */
  font-weight: 700;
  margin-left: 20px;
  padding-left: 15px;
  border-image-slice: 1;
  letter-spacing: 0.03em; /* Небольшой межбуквенный интервал */
  text-transform: uppercase; /* Заглавные буквы для акцента */
}

.base-title {
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px; /* отступ между текстом и линией */
  color: rgba(0, 255, 136, 0.5019607843);
  text-transform: uppercase; /* Заглавные буквы для акцента */
  letter-spacing: 0.03em;
}

.base-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 255, 136, 0.5019607843) 0%, rgba(0, 255, 136, 0.5019607843) 50%, transparent 100%);
}

.auth-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 10px;
  color: #00ffaa;
  text-transform: uppercase; /* Заглавные буквы для акцента */
}

.auth-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent 0%, #00ffaa 50%, transparent 100%);
}

/* Кнопки */
.btn-auth {
  text-transform: uppercase; /* Преобразуем текст в заглавные */
  font-size: 16px;
  padding: 14px 32px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #ffffff !important;
  margin-bottom: 0.5rem;
  background-color: #00ffaa; /* Зеленый фон */
  border: none;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(79, 172, 254, 0.3), 0 0 10px rgba(0, 242, 254, 0.2);
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease;
  z-index: 1;
  cursor: pointer;
  backdrop-filter: blur(3px);
}

.btn-auth::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -45%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.2) 100%);
  transform: rotate(25deg);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 2;
}

.btn-auth:hover::before {
  animation: glossMove 1.2s ease-in-out;
  opacity: 1;
}

@keyframes glossMove {
  0% {
    top: -100%;
    left: -45%;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
.btn-cyber {
  font-family: monospace;
  font-size: 1.2rem;
  color: #00ffaa;
  background: transparent;
  padding: 12px 30px;
  border: 2px solid #00ffaa;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  border-radius: 14px;
}

.btn-cyber::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00ffaa;
  z-index: -1;
  transition: width 0.4s ease-in-out;
}

.btn-cyber:hover::after {
  width: 100%;
}

.btn-cyber:hover {
  color: #001e1e;
}

/* Карточки */
.card {
  padding: 2.5rem 3rem;
}

/* .card-body {
    padding-top: 10px;
}
 */
.full-screen-card {
  width: 100vw;
  height: 100vh;
}

.card-profile {
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 1px 2px rgba(0, 255, 136, 0.3);
  border: 1px solid rgba(0, 255, 170, 0.3);
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-auth {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 1px 2px rgba(0, 255, 136, 0.3);
  border: 1px solid rgba(0, 255, 170, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  color: #e0e0e0;
  transition: box-shadow 0.3s ease;
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-dashboard {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 1px 2px rgba(0, 255, 136, 0.3);
  border: 1px solid rgba(0, 255, 170, 0.3);
  height: 200px;
  border-radius: 12px;
  padding: 15px;
  animation: fadeInUp 0.5s ease forwards;
}

.card-info {
  height: 100%;
  min-height: 180px;
  border-width: 0px;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*     &:hover {
      transform: translateY(-4px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  } */
}

.card-auth form input[type=text],
.card-auth form input[type=password] {
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  background: rgba(255, 255, 255, 0.19);
  color: #e0e0e0;
  padding: 14px 12px;
  font-size: 16px;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  backdrop-filter: blur(4px);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.card-auth form input::placeholder {
  color: rgba(200, 200, 200, 0.4);
  font-style: italic;
  letter-spacing: 0.5px;
}

.card-auth form input:focus {
  outline: none;
  border-bottom: 2px solid #00ffaa;
  background-color: rgba(0, 255, 136, 0.07);
  box-shadow: 0 0 8px rgba(0, 255, 170, 0.5), 0 2px 16px rgba(0, 255, 170, 0.2);
}

.card-auth form button {
  width: 100%;
  padding: 14px;
  background-color: #00ffaa;
  color: #111;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 15px rgba(0, 255, 136, 0.4);
}

.card-auth form button:hover {
  background-color: #00cc77;
  box-shadow: 0 6px 20px rgba(0, 204, 119, 0.7);
}

/* Элеменеты */
/* Вертикальный и горизонтальный скроллбар */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ff88;
  /* background-color: $color-green; */
  border-radius: 10px;
  /* border: 2px solid $color-black; */
}

::-webkit-scrollbar-track {
  /* background-color: $color-black; */
  border-radius: 10px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-vertical {
  width: 8px;
}

.input-style {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
}

.input-style[readonly] {
  background-color: #e9ecef;
  cursor: default;
}

.input-label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #444;
}

/*# sourceMappingURL=style.css.map */
