.card-4grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.one-4column,
.two-4column,
.three-4column,
.four-4column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
