.card-grid-layout {
    display: grid;
    grid-template-columns: repeat(var(--columns, 3), 1fr); /* по умолчанию 3 колонки */
    gap: 20px 20px;
    align-items: stretch;
}

@media (max-width: 600px) {
    .card-grid-layout {
        grid-template-columns: 1fr; /* одна колонка на маленьких экранах */
        margin-top: 20px;
    }
}
