{% extends 'base.html' %}

{% block body_class %}auth-page{% endblock %}
{% block title %}Редактирование профиля{% endblock %}

{% block content %}
<div class="card-main">
    <div class="card-content">
        <h2>Редактировать</h2>

        <form method="POST" action="/edit" enctype="multipart/form-data">

            <div style="display: flex; justify-content: center;">
                <div class="user-info-row"
                    style="display: flex; align-items: center; gap: 15px; padding: 10px 20px; margin-bottom: 13px; border: 2px solid rgba(0, 255, 170, 0.3); border-radius: 10px; box-shadow: 0 2px 5px rgb(0 0 0 / 0.1); width: 410px;">

                    {% if user.avatar %}
                    <img src="{{ url_for('static', filename='images/avatars/' ~ user.avatar) }}" alt="Аватар"
                        style="width: 60px; height: 60px; border-radius: 50%; margin-left: 50px; object-fit: cover;">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default.png') }}" alt="Без аватара"
                        style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
                    {% endif %}

                    <label for="avatar-upload"
                        style="cursor: pointer; padding: 8px 15px; background-color: rgb(60, 60, 60); color: white; border-radius: 5px; font-weight: 600; user-select: none;">
                        Изменить аватар
                    </label>
                    <input type="file" id="avatar-upload" name="avatar" accept="image/*" style="display: none;">
                </div>
            </div>

            <div class="relative">
                <input type="text" name="username" value="{{ user.username }}" placeholder="Логин" required>
            </div>
            <div class="relative">
                <input type="text" name="email" value="{{ user.email }}" placeholder="Email" required>
            </div>
            <div class="relative">
                <input type="password" name="password" placeholder="Новый пароль (необязательно)">
            </div>

            <div class="buttons-container flex gap-2 mt-3">
                <button type="submit" class="btn-in">Сохранить</button>
                <button type="button" class="btn-in" onclick="window.location.href='/account'">Отмена</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}