//! -------------------------- Основной стиль для карточек -------------------------- //
.card-memmory {
    background-color: #2b2b2b; /* тёмный фон карточки, создаёт контраст с ярким текстом */
    border-radius: 12px; /* скруглённые углы для более мягкого и современного вида */
    padding: 20px; /* внутренние отступы — создают пространство между содержимым и краями */
    color: #00ff88; /* ярко-зелёный цвет текста — хорошо виден на тёмном фоне */
    box-shadow: 0 4px 10px rgba(0, 255, 136, 0.2); /* лёгкая тень с зелёным оттенком для глубины */
    height: 100%;
    flex: 1 1 calc(33.333% - 10px); /* 3 карточки в ряд, с учётом gap */
    max-width: 1000px;
    box-sizing: border-box;
    transition: transform 0.2s ease; /* плавный переход при изменении положения (эффект наведения) */
}

//! -------------------------- Эффект при наведении на карточку -------------------------- //
/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 136, 0.3); 
}
 */
//! -------------------------- Стили для заголовка карточки -------------------------- //
.card-memmory h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #00ffaa;
    border-bottom: 2px solid #ccc; /* Добавляем разделительную линию */
    font-size: 20px; /* изменяет размер текста заголовка */
    padding: 5px;
    padding-top: 0px;
    text-transform: uppercase; /* Преобразуем текст в заглавные буквы */
    text-shadow: /* Эффект свечения */
        0 0 5px #195419,
        0 0 10px #00ff00;
}

//! -------------------------- Стили для основного текста -------------------------- //
.card-memmory p {
    color: #b2ffdd;
    font-size: 13px;
}
