@use "buttons"; /* Подключение файла с кнопками */
@use "cards"; /* Подключение файла с карточками */
@use "card-mini"; /* Подключение файла для прогресс-бара */
@use "card-solo"; /* Подключение файла для прогресс-бара */
@use "card-memmory"; /* Подключение файла для прогресс-бара */
@use "navbar"; /* Подключение файла для прогресс-бара */

//! -------------------- Основной контейнер карточки-------------------- //
.card-container {
    display: flex; /* Используем flexbox для выравнивания элементов */

    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: wrap; /* Позволяет карточкам переходить на следующую строку */
    max-width: 100%; /* Ограничиваем максимальную ширину контейнера до 50% */
    width: 100vw;
    margin-top: 30px;
    padding: 40px 20px;
    gap: 10px; /* уменьшено с 20px до 10px */
}

//! -------------------- Основной контейнер кнопки-------------------- //
.buttons-container {
    width: 100%;
    display: flex;
    padding: 1px;
    flex-direction: column; /* Размещение кнопок в столбик */
    align-items: center; /* Выравнивание кнопок по центру */
}

//! -------------------- Фон страницы -------------------- //
body {
    margin: 0; /* Убираем отступы от краев страницы */
    background-color: #000000; /* Черный фон */
    color: #00ff00; /* Зеленый цвет текста */
    font-family: "Press Start 2P", Courier, monospace; /* Пиксельный шрифт для текста */
}

@media (max-width: 768px) {
    .card,
    .card-memmory,
    .card-mini,
    .card-solo {
        flex: 1 1 100%; /* Каждая карточка будет занимать 100% ширины контейнера */
        max-width: 100%; /* Карточки будут растягиваться на всю ширину */
    }
}

@media (max-width: 768px) {
    .card-container {
        margin-top: 50px; /* Добавляем отступ перед карточками */
    }
}
