//-- Заголовок базовой карточки
.base-title {
    color: var(--title-color);
    font-weight: 650;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px; /* отступ между текстом и линией */
    text-transform: uppercase; /* Заглавные буквы для акцента */
    letter-spacing: 0em;
}

.base-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-bg);
}
