.card-dashboard {
    position: relative;
    background-color: var(--card-color);
    height: 200px;
    border-radius: 12px;
    animation: fadeInUp 0.5s ease forwards;
    overflow: hidden;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);
}
