.auth-container {
    max-width: 500px;
    max-height: 5000px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-form {
    width: 100%;
    max-width: 400px;
}
