//! -------------------------- Основной стиль для навбара -------------------------- //
.navbar {
    //! -------------------------- Стили для ссылок навбара -------------------------- //
    .nav-link {
        /* color: var(--accent-color) !important; */
        color: #4b4b4b70 !important;
        font-weight: 500;
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        transition: all 0.3s ease;

        .link-text {
            display: none;
        }

        &:hover,
        &:focus {
            border-radius: 5px;
            color: #66ffcc !important;
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.1);
            text-shadow: 0 0 5px #ffffff;
        }
    }
}

.navbar .navbar-brand {
    color: #4b4b4b70 !important; /* или любой другой нужный цвет */
    font-weight: bold; /* при необходимости */
}
.navbar .navbar-brand:hover {
    color: #ffffff !important; /* например, белый при наведении */
    text-shadow: 0 0 5px #66ffcc; /* при желании */
}
