/* Общий стиль карточек */

/* Общий стиль карточек */
.token-card {
    max-height: 250px;
    border: 2px solid transparent; /* чтобы не прыгала при наведении */
    border-radius: 1.5rem; /* эквивалент rounded-5 */
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}

/* Ховер эффект */
.token-card:hover {
    border-color: #0d6efd; /* bootstrap-синий */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Иконка */
.token-card .bi {
    font-size: 4rem;
    color: var(--card-primary-text);
}

/* Заголовок */
.token-card .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/* Контент */
.token-card .card-text {
    height: 3rem; /* пример, под 2 строки текста */
    line-height: 1.5rem;
    overflow: hidden;
}

.text-muted {
    color: var(--card-secondary-text) !important;
}
