.card-dashboard {
    background-color: rgba(255, 255, 255, 0.08); // Цвет фона
    box-shadow: 0 0 1px 2px rgba(0, 255, 136, 0.3); // Тень
    border: 1px solid rgba(0, 255, 170, 0.3); // Обводка

    height: 200px; // Фиксированная высота
    border-radius: 12px; // Закругление краев
    padding: 15px; // Отступы внутри блока

    animation: fadeInUp 0.5s ease forwards; // Анимация появления
}
