.btn-cyber {
    font-family: monospace;
    font-size: 1.2rem;
    color: #00ffaa;
    background: transparent;
    padding: 12px 30px;
    border: 2px solid #00ffaa;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border-radius: 14px;
}

.btn-cyber::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00ffaa;
    z-index: -1;
    transition: width 0.4s ease-in-out;
}

.btn-cyber:hover::after {
    width: 100%;
}

.btn-cyber:hover {
    color: #001e1e;
}
