//! -------------------------- Современный стиль кнопки входа -------------------------- //
.btn-auth {
    text-transform: uppercase; /* Преобразуем текст в заглавные */
    font-size: 16px;
    padding: 14px 32px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #ffffff !important;
    margin-bottom: 0.5rem;
    background-color: #00ffaa; /* Зеленый фон */
    border: none;
    border-radius: 14px;
    box-shadow:
        0 6px 12px rgba(79, 172, 254, 0.3),
        0 0 10px rgba(0, 242, 254, 0.2);
    position: relative;
    overflow: hidden;
    transition: all 0.35s ease;
    z-index: 1;
    cursor: pointer;
    backdrop-filter: blur(3px);
}

.btn-auth::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -45%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.2) 100%
    );
    transform: rotate(25deg);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 2;
}

.btn-auth:hover::before {
    animation: glossMove 1.2s ease-in-out;
    opacity: 1;
}

@keyframes glossMove {
    0% {
        top: -100%;
        left: -45%;
    }
    100% {
        top: 100%;
        left: 100%;
    }
}
