<div class="element">

    <div class="card {{ card.card_class | default('') }}">
        <div class="card-body">

            <h5 class="card-title {{ card.title_class | default('') }}">
                <i class="fas fa-{{ card.icon | default('question-circle') }} me-2"></i>{{ card.title }}
            </h5>
            <p class="card-text">{{ card.content | safe }}</p>
            {% if card.button_text and card.button_url %}
            <button type="button" class="{{ card.button_class }}" data-bs-toggle="modal"
                data-bs-target="#modal-{{ card.id }}">
            </button>
            <div class="btn-dashboard-label">{{ card.button_text }}</div>
            {% endif %}
        </div>
    </div>
</div>