.navbar-logo {
    /* width: 32px;  */
    width: 70px;
    height: 32px;
    /* background-color: #28a745;  */
    border-radius: 0%;
    color: white;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    margin-right: 10px;
}
